<footer class="bg-blue-900 text-white py-8 px-4  ">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between md:items-center gap-6 text-center md:text-left">

    <!-- Coordonnées -->
    <div>
      <h3 class="text-xl font-semibold mb-4">Nos coordonnées</h3>
      <p class="mb-2">
        <span class="font-medium">Email :</span>
        <a href="mailto:contact@etap.com.tn" class="hover:underline">contact&#64;etap.com.tn</a>
      </p>
      <p class="mb-2">
        <span class="font-medium">Téléphone :</span> (+216) 71 28 50 97 / (+216) 71 28 52 80
      </p>
      <p>
        <span class="font-medium">Adresse :</span> 54, Avenue Mohamed V - 1002 Tunis, Tunisie
      </p>
    </div>

    <!-- Copyright -->
    <div class="text-sm md:text-right">
      <p>Copyright ETAP © 2025 | Tous les droits sont réservés </p>
    </div>

  </div>
</footer>
