<footer class="footer navbar" data-bs-theme="dark">
  <h2 class="visually-hidden">Sitemap & information</h2>
  <div
    class="container-xxl footer-content d-flex justify-content-between align-items-start"
  >
    <!--
    <li class="footer-newsletter">
      <h3 class="footer-heading">S'INSCRIRE AUX NEWSLETTERS</h3>
      <p>Inscrivez-vous à la newsletter SofEvent pour recevoir toutes nos nouvelles</p>
      <form class="d-flex gap-2">
        <label for="inputEmail" class="visually-hidden">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Entrez votre e-mail">
        <button type="submit" class="btn btn-outline-secondary">S'inscrire</button>
      </form>
    </li> -->

    <!-- Social Media Section -->
    <li class="footer-social">
      <h3 class="footer-heading me-md-3">Suivez-nous</h3>
      <ul class="navbar-nav gap-2 flex-row">
        <li>
          <a href="#" class="btn btn-icon btn-social btn-twitter"
            ><span class="visually-hidden">Twitter</span></a
          >
        </li>
        <li>
          <a href="#" class="btn btn-icon btn-social btn-facebook"
            ><span class="visually-hidden">Facebook</span></a
          >
        </li>
        <li>
          <a href="#" class="btn btn-icon btn-social btn-instagram"
            ><span class="visually-hidden">Instagram</span></a
          >
        </li>
        <li>
          <a href="#" class="btn btn-icon btn-social btn-whatsapp"
            ><span class="visually-hidden">WhatsApp</span></a
          >
        </li>
        <li>
          <a href="#" class="btn btn-icon btn-social btn-linkedin"
            ><span class="visually-hidden">LinkedIn</span></a
          >
        </li>
        <li>
          <a href="#" class="btn btn-icon btn-social btn-youtube"
            ><span class="visually-hidden">YouTube</span></a
          >
        </li>
      </ul>
    </li>
  </div>

  <div
    class="container-xxl footer-terms d-flex justify-content-center align-items-center"
  >
    <div class="text-center">
      <ul class="navbar-nav gap-md-3 mb-0">
        <li class="fw-bold">Tous les droits sont réservés à © Orange 2025</li>
      </ul>
      <ul class="navbar-nav gap-md-3 mb-0">
        <li class="mt-2">
          Conçu et développé par
          <a href="https://www.linkedin.com/in/anis-sanaa-273865a6/"
            >Anis Sanaa</a
          >
          et
          <a href="https://www.linkedin.com/in/ekbel-zrelli-73521a258/"
            >Ekbel Zrelli</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
