<nav class="navbar navbar-expand-lg bg-white fixed-top shadow-sm">
  <div class="container-fluid">
    <div class="row w-100 align-items-center">
      <!-- Colonne 1 : Logo + Titre -->
      <div class="col-12 col-lg-3 d-flex align-items-center">
        <a
          routerLink="/"
          class="d-flex align-items-center text-decoration-none"
          style="color: #324da8"
        >
          <img
            src="/assets/images/logo.png"
            width="50"
            height="50"
            loading="lazy"
            alt="SofEvent Logo"
          />
          <h1 class="ms-2 mb-0 fs-4 fw-bold">ETAP</h1>
        </a>
      </div>

      <!-- Colonne 2 : Liens + Dropdowns -->
      <div class="col-12 col-lg-9">
        <div class="d-flex justify-content-between align-items-center">
          <!-- Burger Button -->
          <button
            class="navbar-toggler ms-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- NAVIGATION + DROPDOWNS -->
          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarScroll"
          >
            <ul
              class="navbar-nav me-auto my-2 my-lg-0 d-flex align-items-center"
            >
              <li class="nav-item">
                <a class="nav-link" href="#home" fragment="home">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about" fragment="about">À propos</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="#contact" fragment="contact"
                  >Contact</a
                >
              </li>
            </ul>

            <!-- Dropdowns -->
            <div class="d-flex align-items-center">
              <div class="dropdown ms-3">
                <button
                  class="btn dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="color: #324da8; border: 1px solid #324da8"
                >
                  <i id="theme-icon" class="bi bi-brightness-high active"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" (click)="setTheme('light')"
                      ><i class="bi bi-brightness-high"></i> Mode clair</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="setTheme('dark')"
                      ><i class="bi bi-moon"></i> Mode sombre</a
                    >
                  </li>
                </ul>
              </div>

              <div class="dropdown ms-3">
                <button
                  class="btn dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="color: #324da8; border: 1px solid #324da8"
                >
                  FR
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" (click)="changeLanguage('fr')"
                      >Français</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="changeLanguage('en')"
                      >English</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="changeLanguage('ar')"
                      >العربية</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div
  class="scrollspy-example p-3"
  data-bs-spy="scroll"
  data-bs-target="#navbarScroll"
  data-bs-root-margin="0px 0px -40%"
  data-bs-smooth-scroll="true"
  tabindex="0"
>
  <section id="home" class="hero-section text-white py-5 min-vh-100">
    <div class="container text-center">
      <h1 class="display-4 fw-bold hover-orange">
        Bienvenue chez l'Entreprise tunisienne d'activités pétrolières
      </h1>
      <p class="lead"></p>
      <a [routerLink]="['/login']" class="btn btn-primary btn-lg mt-3">
        Se connecter
      </a>
    </div>
  </section>

  <section id="about" class="d-none">
    <div class="container text-center">

    </div>
  </section>
</div>
<app-footer></app-footer>
