.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
  }

  .modal-body {
    padding: 1rem;
    background-color: #ffffff;
  }

  .modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 1rem;
  }

  .modal-title {
    font-size: 1.5rem;
    color: #333;
  }

  button.btn-close {
    background: none;
    border: none;
    color: #000;
  }
  